<!DOCTYPE HTML>
<html>
<head>
    <title>Монетка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<th>{{photo}}</th>
<form method="numerics">
    <button type="submit">Сгенерировать</button>
</form>
<form action="main" target="_blank">
    <button type="вернуться">Монетка</button>
</form>
</body>
</html>