<!DOCTYPE HTML>
<html>
<head>
    <title>Монетка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<th>{{coin}}</th>
<form method="numerics">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Сгенерировать</button>
</form>
<form action="/main" target="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="вернуться">Назад</button>
</form>
</body>
</html>