<html>

<body>
<form action="greeting" target="_blank">
    <button type="submit">Рандомное число</button>
</form>
<form action="coin" target="_blank">
    <button type="submit">Монетка</button>
</form>
</body>
</html>