<!DOCTYPE HTML>
<html>
<head>
    <title>Рандомное число</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #999;
    padding: 5px;
}
</style>
<body>
<form method="post">
    <input type="number" name="range1" placeholder="От" required/>
    <input type="number" name="range2" placeholder="До"required />
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Сгенерировать</button>
</form>
<th>{{numeric}}</th>
<table>
    <h2>Список сгенерированных чисел</h2>
    <tr>
        <th>Id</th>
        <th>Число</th>
        <th>Диапазон</th>
    </tr>
    {{#numerics}}
        <<tr>
            <th>{{id}}</th>
            <th>{{value}}</th>
            <th>{{range}}</th>
        </tr>
    {{/numerics}}
</table>
<form action="/" target="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="вернуться">Назад</button>
</form>
</body>
</html>