<!DOCTYPE html>
<html   >
<head>
    <title>Регистрация</title>
</head>
<body>
Добавить нового пользователя
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="username" placeholder="Username"/> </label></div>
    <div><label> Password: <input type="password" name="password" placeholder="Password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Sign In"/></div>
</form>
<a href="/">Главная</a>
</body>
</html>